<% include ../partials/header %>

<% projects.forEach(function(project){ %>
  <div class="ui main text card container">
    <div class="content">
      <a><i class="right floated thumbtack icon"></i></a>
      <div class="header">
        <h2 class="ui header"><%=project.title%></h2>
      </div>
      <div class="meta">
        <a><%=project.subject%></a>
        <br/>
        <a><%=project.location%></a>
      </div>
      <div class="description">
        <p>
          <%=project.description%>
        </p>
      </div>
    </div>
    <div class="extra content">
      <span class="left floated">
        <a href="/projects/<%=project._id%>" >
          <i class="comment icon"></i>
        </a>
      </span>
      <span class="right floated">
        <%=project.created.toDateString() %>
      </span>
    </div>
    <div class="ui bottom attached button">
      <i class="caret down icon"></i>
    </div>
  </div>
<% }) %>

<% include ../partials/footer %>
