<% include ../partials/header %>

<div class="ui card container" style="box-shadow: 0 1px 5px 0 #d9d9d9, 0 0 0 0px #d9d9d9;">
  <div id="searchBar" class="item">
    <div class="ui small icon input" style="width:100%!important;">
      <input type="text" placeholder="Search for project..."
        style="border:none!important;">
      <i class="search link icon left floated" style="color: rgb(142,142,143)"></i>
    </div>
  </div>
</div>


<% projects.reverse().forEach(function(project){ %>
<div class="ui card container" style="box-shadow: 0 1px 5px 0 #d9d9d9, 0 0 0 0px #d9d9d9;">
  <div class="content">
    <!-- Render edit post form -->
    <% if(project.author.id.equals(currentUser._id)) { %>
          <a href="/projects/<%=project._id%>">
            <i class="right floated edit icon" style="font-size: 1.5em; color: rgb(204, 204, 204);" id="edit"></i>
          </a>
    <% } else { %>
      <form id="addProject">
            <a><i class="right floated thumbtack icon" style="font-size: 1.5em; color: rgb(204, 204, 204);" id="pin"></i></a>
      </form>
    <% } %>
    <div class="header">
      <a class="ui header" href="/projects/<%=project._id%>">
        <%=project.title%>
      </a>
    </div>
    <div class="meta">
      <a>
        <%=project.subject%></a>
      <br/>
      <a>
        <%=project.location%></a>
    </div>
    <div class="description">
      <p>
        <%=project.description%>
      </p>
    </div>
  </div>
  <div class="extra content">
    <span class="left floated">
      <a class="ui image label">
        <img src="<%=project.author.profilePicture%>">
        <%= project.author.username %>
      </a>
      <a href="/projects/<%=project._id%>">
        <div class="ui label">
          <i class="comment icon"></i>
          <% if(project.comments.length > 0){ %>
            <%= project.comments.length %>
          <% } %>
        </div>
      </a>
    </span>
    <span class="right floated">
      <%= moment(project._id.createdAt).fromNow() %>
    </span>
  </div>

  <!-- Only render bottom button if the post has been updated by the creator -->
  <% if(project.updates.length > 0) { %>
    <div class="ui bottom button">
      <div class="ui accordion">
        <div class="title">
          <span style="color: #707070">more</span>
          <i class="caret down icon" style="color:#707070"></i>
        </div>
        <div class="content" style="text-align: left; font-weight: normal">
          <div class="ui vertical segment">
            <div class="header">
              <h3 class="ui dividing header">
                Updates
              </h3>
              <br/>
              <!-- Render the updates -->
              <div class="content">
                <% project.updates.reverse().forEach(function(update){ %>
                <div class="ui comments">
                  <div class="comment">
                    <div class="content">
                      <a class="author">
                        <%= update.author.username %></a>
                      <div class="metadata date_commented">
                        <span class="date">
                          <%= moment(update.createdAt).fromNow() %>
                        </span>
                      </div>
                      <div class="text">
                        <%= update.text %>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>
<% }) %>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>

<script>

$(".right.floated.thumbtack.icon").click(function(){
  // console.log(currentUser._id);
  console.log(project.author.id);
});

</script> -->

<div class="ui divider"></div>

<div class="ui  vertical footer segment">
  <div class="ui container foot">
    <div class="ui stackable  divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui  header">About</h4>
        <div class="ui  link list">
          <a href="#" class="item">Contact us</a>
          <a href="#" class="item">Mission</a>
          <a href="#" class="item">History</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui  header">Services</h4>
        <div class="ui  link list">
          <a href="#" class="item">Clean Toilets</a>
          <a href="#" class="item">Work at Costco</a>
          <a href="#" class="item">Take a nap</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui  header">Trademark</h4>
        <p>That photo at the top is not ours we don't <br/>even know where we got it. Seriously.</p>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
