<% include ../partials/header %>

<% if (currentUser.pinnedProjects.length == 0) { %>
    <div class="ui container" style="padding: 50px; text-align: center">
      <div class="ui text">
        <h1 class="ui header hook" style="font-size: 2.5em;">Hmm, no projects here.</h1>
        <p style="font-size: 1.2em;">Pin a project from the home page.</p>
      </div>
    </div>
<% } %>

<!-- show different color 'pin' icons depending on whether or not the project is pinned -->
<% projects.reverse().forEach(function(project){ %>
  <% for(var j=0; j < currentUser.pinnedProjects.length; j++){ %>
    <% if(project._id.equals(currentUser.pinnedProjects[j])){ %>

      <div class="ui card container" style="box-shadow: 0 1px 5px 0 #d9d9d9, 0 0 0 0px #d9d9d9;">
        <div class="content">
            <form id="addProject" action="/projects/pin/<%=project._id%>" method="POST">
              <a><i class="right floated thumbtack icon" style="font-size: 1.5em; color: rgb(84,156,233);" id="pin"></i></a>
            </form>
          <div class="header">
            <a class="ui header" href="/projects/<%=project._id%>">
              <%=project.title%>
            </a>
          </div>
          <div class="meta">
            <a>
              <%=project.subject%></a>
            <br/>
            <a>
              <%=project.location%></a>
          </div>
          <div class="description">
            <p>
              <%=project.description%>
            </p>
          </div>
        </div>
        <!-- Comment section, display a comment counter for posts with comments > 0 -->
        <div class="extra content" style="border-top: none!important;">
          <span class="left floated">
            <a class="ui label" href="/profile/<%=project.author.id%>">
              <%= project.author.username %>
            </a>
            <a href="/projects/<%=project._id%>">
              <div class="ui label">
                <i class="comment icon"></i>
                <% if(project.comments.length > 0){ %>
                  <%= project.comments.length %>
                <% } %>
              </div>
            </a>
          </span>
          <span class="right floated">
            <%= moment(project._id.createdAt).fromNow() %>
          </span>
        </div>

        <!-- Only render bottom button if the post has been updated by the creator -->
        <% if(project.updates.length > 0) { %>
          <div class="ui bottom button">
            <div class="ui accordion">
              <div class="title">
                <span style="color: #707070">updates</span>
                <i class="caret down icon" style="color:#707070"></i>
              </div>
              <div class="content" style="text-align: left; font-weight: normal">
                <div class="ui vertical segment">
                  <div class="header">
                    <h3 class="ui dividing header">
                      Updates
                    </h3>
                    <br/>
                    <!-- Render the updates -->
                    <div class="content">
                      <% project.updates.reverse().forEach(function(update){ %>
                      <div class="ui comments">
                        <div class="comment">
                          <div class="content">
                            <a class="author">
                              <%= update.author.username %></a>
                            <div class="metadata date_commented">
                              <span class="date">
                                <%= moment(update.createdAt).fromNow() %>
                              </span>
                            </div>
                            <div class="text">
                              <%= update.text %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>

    <% } %>
  <% } %>
<% }) %>



<% include ../partials/footer %>
