<% include ../partials/header %>

<div class="ui card container" style="box-shadow: 0 1px 5px 0 #d9d9d9, 0 0 0 0px #d9d9d9;">
  <div class="content">

    <!-- Render delete post form -->
    <% if(project.author.id.equals(currentUser._id)) { %>
    <form action="/projects/<%= project._id %>?_method=DELETE" id="del-form" method="POST">

      <a class="right floated del-btn">
        <div class="ui yellow label">
          <i class="trash icon"></i>Delete
        </div>
      </a>

    </form>
    <% } else { %>
          <a><i class="right floated thumbtack icon" style="font-size: 1.5em; color: #CCCCCC;" id="pin"></i></a>
    <% } %>

    <div class="header">
      <h2 class="ui header">
        <%=project.title%>
      </h2>
    </div>
    <div class="meta">
      <a>
        <%=project.subject%></a>
      <br />
      <a>
        <%=project.location%></a>
    </div>
    <div class="description">
      <p>
        <%=project.description%>
      </p>
    </div>
  </div>
  <div class="extra content">
    <span class="left floated">
      <a href="/projects">
        <div class="ui label">
          <i class="caret left icon" style="font-size: 1.1em"></i> back
        </div>
      </a>
      <a class="ui image label" href="/profile/<%=project.author.id%>">
        <img src="<%=project.author.profilePicture%>">
        <%= project.author.username %>
      </a>
    </span>
    <span class="right floated">
      <!-- project.created.toDateString().split(' ').slice(1).join(' ') -->
      <%= moment(project.createdAt).fromNow() %>
    </span>
  </div>
  <!-- updates section -->

  <div class="ui bottom button sh">
    <div class="ui accordion">

      <% if(project.author.id.equals(currentUser._id)) { %>
        <div class="active content" style="text-align: left; font-weight: normal">
      <% } else { %>
        <div class="active content" style="text-align: left; font-weight: normal">
      <% } %>

        <div class="ui vertical segment">
            <!-- show placeholder text if the current post has 0 updates -->
            <% if(project.updates.length > 0){ %>
              <div class="header">
                <h2 class="ui dividing header">
                  Updates
                </h2>
                <br/>
              <!-- Render the updates -->
              <div class="content">
                <% project.updates.reverse().forEach(function(update){ %>
                <div class="ui comments">
                  <div class="comment">
                    <div class="content">
                      <a class="author">
                        <%= update.author.username %></a>
                      <div class="metadata date_commented">
                        <span class="date">
                          <%= moment(update.createdAt).fromNow() %>
                        </span>
                      </div>
                      <div class="text">
                        <%= update.text %>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            <% } else if (project.author.id.equals(currentUser._id)){ %>
              <div class="header">
                <h3 class="ui dividing header">
                  Updates
                </h3>
            <% } else { %>
              <div class="header">
                <h3 class="ui dividing header">
                  No updates yet.
                </h3>
                <br/>
              <div class="meta">
                <p>Pin this card to get notified for future updates!</p>
              </div>
            <% } %>


            <br/>
            <!-- Render update form if the current user owns the post -->
            <% if(project.author.id.equals(currentUser._id)) { %>
              <div class="content">
                <!-- Render updates form -->
                <form action="/projects/<%=project._id%>/updates" method="POST" class="ui form">
                  <div class="field">
                    <textarea type="text" name="update[text]" placeholder="Add a project update" rows="2" style="resize: none;"></textarea>
                  </div>
                  <button class="ui blue submit button">Update</button>
                </form>
              </div>
            <% } %>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- closing container tag -->
</div>

<div class="ui card container"  style="box-shadow: 0 1px 5px 0 #d9d9d9, 0 0 0 0px #d9d9d9;">
  <div class="content">
    <div class="ui comments">
      <h2 class="ui dividing header">Discussion</h2>
      <br/>

      <div class="content">
        <% project.comments.forEach(function(comment){ %>
        <div class="ui comments">
          <div class="comment">
            <a class="avatar" href="/profile/<%=comment.author.id%>">
              <img src="<%=comment.author.profilePicture%>">
            </a>
            <div class="content">
              <a class="author" href="/profile/<%=comment.author.id%>">
                <%= comment.author.username %></a>
              <div class="metadata date_commented">
                <span class="date">
                  <%= moment(comment.createdAt).fromNow() %>
                </span>
              </div>
              <div class="text">
                <%= comment.text %>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>

      <br/>

      <div class="content">
        <form action="/projects/<%=project._id%>/comments" method="POST" class="ui form">
          <div class="field">
            <textarea type="text" name="comment[text]" placeholder="Join the discussion" rows="2" style="resize: none;"></textarea>
          </div>
          <button class="ui blue submit button">Post</button>
        </form>
      </div>


    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui  vertical footer segment">
  <div class="ui container foot">
    <div class="ui stackable  divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui  header">About</h4>
        <div class="ui  link list">
          <a href="#" class="item">Contact us</a>
          <a href="#" class="item">Mission</a>
          <a href="#" class="item">History</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui  header">Services</h4>
        <div class="ui  link list">
          <a href="#" class="item">Clean Toilets</a>
          <a href="#" class="item">Work at Costco</a>
          <a href="#" class="item">Skip Java</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui  header">Trademark</h4>
        <p>Really thick arms.</p>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
