<% include ../partials/header %>

<div class="ui card container">
  <div class="content">
    <a><i class="right floated thumbtack icon"></i></a>
    <div class="header">
      <h2 class="ui header">
        <%=project.title%>
      </h2>
    </div>
    <div class="meta">
      <a>
        <%=project.subject%></a>
      <br />
      <a>
        <%=project.location%></a>
    </div>
    <div class="description">
      <p>
        <%=project.description%>
      </p>
    </div>
  </div>
  <div class="extra content">
    <span class="left floated">
      <a href="/projects">
        back
      </a>
    </span>
    <span class="right floated">
      <%=project.created.toDateString() %>
    </span>
  </div>
  <div class="ui bottom button">
    <div class="ui accordion">
      <div class="title">
        <i class="caret down icon" style="color:#707070"></i>
      </div>
      <div class="content" style="text-align: left; font-weight: normal">
        <div class="ui vertical segment">
          <p>update to this post 1.
            <span class="right floated">
              1 day ago
            </span>
          </p>
        </div>
        <div class="ui vertical segment">
          <p>update to this post 2.
            <span class="right floated">
              3 days ago
            </span>
          </p>
        </div>
        <div class="ui vertical segment">
          <p>update to this post 3.
            <span class="right floated">
              5 days ago
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui card container">
  <div class="content">
    <div class="ui comments">
      <h3 class="ui dividing header">Comments</h3>

      <div class="content">
        <form action="/projects/<%=project._id%>/comments" method="POST" class="ui form">
          <div class="field">
            <textarea type="text" name="comment[text]" placeholder="add public comment..." rows="2" style="resize: none;"></textarea>
          </div>
          <button class="ui blue submit button">Comment</button>
        </form>
      </div>

      <br />

      <div class="content">
        <% project.comments.reverse().forEach(function(comment){ %>
        <div class="comment">
          <div class="content">
            <a class="author">
              <%= comment.author.username %></a>
            <div class="metadata date_commented">
              <span class="date">2 hours ago</span>
            </div>
            <div class="text">
              <%= comment.text %>
            </div>
          </div>
        </div>
        <% }) %>
      </div>


    </div>
  </div>
</div>

<% include ../partials/footer %>
